@mixin display-flex-sb {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

@mixin d-flex-bt{
    display: flex;
    justify-content: space-evenly;
}